:root {
  --bg: #333;
  --hover: #aaa;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: inherit;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  background-color: red;
  min-width: 850px;
}

.canvas {
  display: flex;
  background-color: lightblue;
}